<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Turma HardCore - @ViewData["Title"]</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">

	@RenderSection("Styles", false)

</head>

<body>

	@await Html.PartialAsync("_Preloader")

	<nav class="pcoded-navbar menu-light">
		@await Html.PartialAsync("_Navigation")
	</nav>

	<header class="navbar pcoded-header navbar-expand-lg navbar-light">
		@await Html.PartialAsync("_Header")
	</header>

	@await Html.PartialAsync("_Chat")

	<div>
		@RenderBody()
	</div>


	@await Html.PartialAsync("_IEWarningMessage")

</body>

<script src="~/assets/js/vendor-all.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/pcoded.min.js"></script>

@RenderSection("Scripts", false)

</html>
